{# 继承模板 #}
{% extends 'base.html' %}

{# 加载静态文件 #}
{% load staticfiles %}

{# 标题块 #}
{% block title %}
    首页 - 全科梦 - 一个全科内容管理分享网站
{% endblock %}

{# 这个页面的CSS块 #}
{% block thispagecss %}
    <link href="{% static 'css/info.css' %}" rel="stylesheet">
{% endblock %}

{# 这个页面的JS块 #}
{% block thispagejs %}
{% endblock %}

{# ***内容块*** #}
{% block content %}
    <!--文章显示区-->
    <div class="infos">
        <div class="newsview">
            <!--页面标题导航-->
            <h2 class="intitle">您现在的位置是：<a href="/">网站首页</a>&nbsp;&gt;&nbsp;<a href="/">全科之梦</a></h2>
            <!--文章标题-->
            <h3 class="news_title">三生石</h3>
            <!--文章状态-->
            <div class="news_author">
                <span class="au01">李同学</span>
                <span class="au02">2018-03-18</span>
                <span class="au03">共<b>309</b>人围观</span>
            </div>
            <!--文章标签-->
            <div class="tags">
                <a href="/">工作</a>
                <a href="/" target="_blank">心情</a>
                <a href="/" target="_blank">放松</a>
                <a href="/" target="_blank">旅游</a>
                <a href="/" target="_blank">家庭</a>
            </div>
            <!--文章简介-->
            <div class="news_about">
                <strong>简介</strong>曾经有站长找我求助，他说他不知道该怎么办，自己做出来的网站，不仅没有得到大家的认可，反而让大家给他开了一个评判大会。他自己认为已经是做的最好的，却遭受大家无情的指责是“垃圾”作品。
            </div>
            <!--文章正文-->
            <div class="news_infos">
                <p>
                    三生石畔，，三生相伴，梦幻相随，携手前行，看遍人间喜怒哀乐。奈何桥下，一生誓言，铭心承诺，追魂相伴，共度人生险境。“百年修得同船度，千年修得共枕眠。”万年的清净，百世的淡泊，换来今生的相随，一世的无悔，一生的相伴。
                </p>
                <p>
                   梦里醉可曾解痴心断肠，几许桃花惹红颜。似醉似醒空对月，褒姬倾笑曾醉国。你的倾城一笑，滑进一颗淡泊之心，只为那优雅的笑容，我在那九天之上为你画一条七彩的虹，在那幽冥之地为你点上那永不熄灭的冥火。
                </p>
                <p>
                    盖世的情怀只为博你眼中一丝，那一丝于众不同的，藏于梦醉中的那一丝，那是独属于我的，我一人的。那是天外最绚丽的流星，是我一生最渴求的。不曾渴望与天地同存，只欲花间相拥而醉，只望娇颜倚身赏残月，只盼与你度一生。
                </p>
                <p><img src="{% static 'images/v1.jpg' %}"></p>
                <p>
                    醉酒戏花丛，日日共欢乐，携手堪风雨，随意画七笔。一生相伴，无所畏惧坦然面对，你的心是我一生的心灵港湾，疲惫的小息之所，今生的相聚，只因前世的约定。在那世不知我们的爱情是否如何感动了天地？如何得动人心弦？如何为世人所羡慕？要不今生如何能一眼定三生。
                </p>
                <p><img src="{% static 'images/v2.jpg' %}"></p>
                <p>
                    三生石下，即使天可崩，地可裂，海会枯，石会烂，即使天涯，海角，即使漫天神佛相阻，我们的心在，魂在。漫天神佛在天空注视着我们，注视着我们用那短暂的时间面对人生，心血相融，用羡慕的眼神望着，望着人世间最美好的情感，不带一丝杂质的情感，真心相待，用激情以及真心来让这空虚的人生充满着人性的真善。
                </p>
                <p>
                    时至达断桥，湖边鉴风月。百世姻缘至，万劫原浮云。西湖畔，断桥下，一念恩，身报之。世俗偏见默视，漫天阻碍同浮云。雷锋塔下妖身震，雷锋寺内负心人。痴情一世，可怜一世，到头空一世。它日此生能重来，只愿一切如此生。
                </p>
                <p>
                    痴情落空心无悔，一夕欢笑笑百悲。喜欢，没有理由，找不到理由，不需要理由，只要知道喜欢。众人皆道事有因，偏偏真爱无缘由，细细回想初见时，缘来当初即是缘。
                </p>
                <p>
                    因缘，因缘，缘分天注定，分合靠真情。你我相遇，是命运抉择，是诸神怜悯。是真情约定。相遇并不代表会相爱，爱不是简单的一个字，那是一个古老的约定，一个不变的承诺，一生的信仰，那是天地的祝福。
                </p>
                <p>
                    在天为那比翼鸟，在地为那连理枝，今生只求能与你相遇，能成为你心中的唯一。守护你的美丽，用承诺换你一生的幸福。
                </p>
                <p>
                    千万人中我独中意与你，人世间的百媚千眸，我唯爱你那一丝风彩。今生我与你在三生石下刻下那古老而通俗的文字，让天地见证，让日月祝福，我不求一世的携手，但求天地在，你我情不变。此生如尽，希望在最后还能牵你的手，你能躺着我的怀抱中死去。
                </p>
                <p>
                    我向上帝祈求“我只求死的比她晚一秒，”这是我今生对上帝唯一的祈祷，只因我不希望你为我痛苦一秒，也不想多失去一秒。
                </p>
            </div>
        </div>
    </div>
    <!--文章上下篇链接区-->
    <div class="nextinfo">
        <p>上一篇：<a href="/">再别康桥</a></p>
        <p>下一篇：<a href="/">云南之行――大理洱海一日游</a></p>
    </div>
    <!--相关文章链接区-->
    <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
            <li><a href="/" title="云南之行――丽江古镇玉龙雪山">云南之行――大理洱海一日游</a></li>
            <li><a href="/" title="云南之行――大理洱海一日游">云南之行――大理洱海一日游</a></li>
            <li><a href="/" target="_blank">云南之行――大理洱海一日游</a></li>
            <li><a href="/" target="_blank">云南之行――大理洱海一日游</a></li>
            <li><a href="/" target="_blank">云南之行――大理洱海一日游</a></li>
            <li><a href="/" target="_blank">云南之行――大理洱海一日游</a></li>
        </ul>
    </div>
    <!--文章评论区-->
    <div class="news_pl">
        <h2>文章评论</h2>
        <ul>
            <li>好文章</li>
            <li>不错</li>
            <li>点赞</li>
        </ul>
    </div>
{% endblock %}
