{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    学无止境 - 全科梦 - 一个全科内容管理分享网站
{% endblock %}

{% block thispagecss %}
    <link href="{% static 'css/link.css' %}" rel="stylesheet">
{% endblock %}

{% block thispagejs %}
{% endblock %}

{% block content %}
    <h2 class="litle"><span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</span>学无止境</h2>
    <div class="link_box">
        <h2 class="ctitle"><b>站长推荐</b></h2>
        <ul class="blogsitetj">
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="李同学博客">李同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="王同学博客">王同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="张同学博客">张同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="赵同学博客">赵同学博客</a></li>
        </ul>
        <h2 class="ctitle"><b>优秀个人博客</b></h2>
        <ul class="blogsite">
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="李同学博客">李同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="王同学博客">王同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="张同学博客">张同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="赵同学博客">赵同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="李同学博客">李同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="王同学博客">王同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="张同学博客">张同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="赵同学博客">赵同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="李同学博客">李同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="王同学博客">王同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="张同学博客">张同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="赵同学博客">赵同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="李同学博客">李同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="王同学博客">王同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="张同学博客">张同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="赵同学博客">赵同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="李同学博客">李同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="王同学博客">王同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="张同学博客">张同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="赵同学博客">赵同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="李同学博客">李同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="王同学博客">王同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="张同学博客">张同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="赵同学博客">赵同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="李同学博客">李同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="王同学博客">王同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="张同学博客">张同学博客</a></li>
            <li><a href="{% url 'article:article_list' %}" target="_blank" title="赵同学博客">赵同学博客</a></li>
        </ul>
    </div>
{% endblock %}